/* Стили для контента карточки */
.contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
}
.contentName
{
    font-weight: bold;
    text-decoration-line: underline;

}
.detail {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.detailLabel {
    font-weight: bold;
    color: #555;

}