.showDangerousOnly {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}


.button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.distance_button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: none;
    text-decoration: underline;
    color: black;
}
.selectedButton{
    fontWeight: "bold";
    textDecoration: "none";
}